body {
    background-color:beige;

}

h1 {
    text-align: center;
    color: rgb(14, 13, 13);
}

.s {
    margin-left: 500px;
}

h2 {
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:rgb(199, 14, 30);
}